
body {
  background-color: #efebeb;
  color: #d4c8c8; /* Set text color to white */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #83868d; /* A dark background color */
  min-height: 100vh;
  padding: 20px; /* Add padding for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb; /* Blue link color */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth color transition on hover */
}
.App-link:hover {
  color: #0077b6; /* Change color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
